@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@keyframes fade_in {
    0%{opacity: 0; margin-bottom: -10%;}
    80%{margin-bottom: 0;}
    100%{opacity: 1; margin: 0;}
}
@keyframes fade_in1 {
    0%{opacity: 0; margin-top: 20%;}
    80%{margin-top: 10%;}
    100%{opacity: 1; margin-top: 10%;}
}
@keyframes fade_in2 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
*{
    font-family: 'GangwonState';
    margin:0;
    padding:0;
}
.wapper{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    background-color: #0A174E;
    flex-direction: column;

}
.Title{
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height:50%;
    font-size: 500%;
    color:#F5D042;
    animation:fade_in 3s forwards;
}
.Bar{
    opacity: 0;
    height:1%;
    width: 50%;
    background-color: #F5D042;
    animation:fade_in1 3s forwards;
    animation-delay: 0.5s;
}
.by{
    margin-top: 1%;
    opacity: 0;
    height:3%;
    width: 50%;
    color:#F5D042;
    animation:fade_in2 3s forwards;
    animation-delay: 0.8s;
}